/*Google  fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@400;700;900&display=swap");

:root {
    /* funtes principales */
    --fontSecondary: "Roboto", sans-serif;
    --fontMain: "Lato", sans-serif;

    /* paleta de colores */
    --primary-color: #1073ba;
    --secundary-color: #00da55;
    --grey: #3b3b3b;
    --white-color: #ffff;
    --black-color: #1f1f1f;
    --ligh-grey: #e1e1e1;

    --separacion: 5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontMain);
    font-size: 2.7rem;
    line-height: 1.5;
}

/** Globales **/
.container {
    width: 90%;
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fontSecondary);
    margin: calc(var(--separacion) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/** Utilidades **/
.text-center {
    text-align: center;
}

/** Degradados **/

.green-gradient {
    color: transparent;
    background: linear-gradient(to right,
            var(--primary-color) 0%,
            var(--secundary-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* Header **/
.header {
    background-color: var(--black-color);
    padding: calc(var(--separacion) * 3) 0;
    color: var(--white-color);
}

.header-audifono-2 img {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
}

.texto-header {
    text-align: center;
    padding-top: var(--separacion);
}

@media (min-width: 768px) {
    .texto-header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.texto-header p {
    margin: 0;
}

.tagline-producto {
    font-size: 5rem;
    font-weight: 900;
}

.name-producto {
    font-size: 6rem;
    margin: 0;
}

@media (min-width: 768px) {
    .name-producto {
        font-size: 14rem;
        line-height: 1;
    }
}

.price-producto span {
    font-size: 6rem;
    font-weight: 900;
}

/* Iconos */
.icons {
    padding: var(--separacion) 0;
}

@media (min-width: 768px) {
    .icons {
        display: flex;
        gap: 2rem;
    }
}

.icon {
    text-align: center;
    margin-bottom: calc(var(--separacion) / 2);
}

.icon:last-of-type {
    margin: 0;
}

@media (min-width: 768px) {
    .icon {
        margin: 0;
    }
}

.icon img {
    width: 8rem;
    margin: 0 auto;
}

.icon h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: calc(var(--separacion) / 2);
    font-size: 3.2rem;
}

/* sobre nosotros TuneMasters*/

.about-TuneMasters {
    background-image: linear-gradient(to bottom,
            transparent 50%,
            var(--primary-color) 0%),
        url("../img/imagen-mujer.jpg");
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 210rem;
}

@media (min-width: 768px) {
    .about-TuneMasters {
        background-image: linear-gradient(to left,
                transparent 50%,
                var(--primary-color) 0%),
            url("../img/imagen-mujer.jpg");
        background-repeat: repeat, no-repeat;
    }
}

.about-TuneMasters-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: var(--separacion);
}

@media (min-width: 768px) {
    .about-TuneMasters-grid {
        grid-template-rows: unset;
        /* para eliminar los row que van de arriba hacia abajo*/
        grid-template-columns: repeat(2, 1fr);
        row-gap: var(--separacion);
    }
}

.text-about-TuneMasters {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: var(--white-color);
}

.text-about-TuneMasters h2 {
    font-size: 5.6rem;
}

.text-about-TuneMasters p {
    font-size: 2.7rem;
    line-height: 2;
}






/* section ofertas */

.offers h2{
    text-align: center;
    font-size: 5.7rem;
    margin-top: 12rem;
}

.categorie{
    text-align: center;
    padding-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.categorie .categorie-price{
    font-weight: bold;
    font-size: 3rem;
    color: #414641;
    margin: 0;
}
.categorie .categorie-name{

    font-size: 2.4rem;
    color: #3b3b3b;
    font-weight: bold;
    margin: 0;
}
.categorie .categories-img{
    width: 70%;
    cursor: pointer;
}
.categorie{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px )  { 
    .categories{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }

@media (min-width: 1200px )  { 
    .categories{
        display: grid;
        grid-template-columns: repeat(4,1fr);

    }
 } 
 } 


 /* swipper slider nuestros mejores productos */

.img-box img{
    max-width: 100%;

}

.card-slider{
    padding: 7rem 0;
}
.img-box{
    display: flex;
    justify-content: center;
}
.swiper-wrapper{
    text-align: center;
}



/* lista de modelos */
.models{
    padding: var(--separacion) 0;
}

.header-models{
    font-size: 3.7rem;
}

.list-models{
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 992px )  { 
    .list-models{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 20rem);
        gap: 4rem;
    }
 } 


.model{
background-color: var(--ligh-grey);
margin-bottom: 2rem;
padding-left: 4rem;
color: var(--primary-color);
border-radius: 2rem;
min-height: 20rem;

background-position: 90% center;
background-size: 15rem;
display: flex;
flex-direction: column;
justify-content: center;

transition-property: transform background-size;
transition-duration: .3s;

}
.model:hover{
    transform: scale(1.1);
    background-size: 25rem;
}


@media (min-width: 992px )  {
    .model{
        margin-bottom: 0;
    }
}

.model-z{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.model-z .price{
   font-size: 5rem;
}

.model h3{
    font-size: 2.7rem;
}

.model .price{
    font-size: 3rem;
    font-weight: 900;
    line-height: 0;
}
.model-z .price{
    font-size: 4rem;
 }

.model:first-of-type{
   margin-bottom: 0;
}


.model-x{
background-image: url('../img/modelo-x.svg');
background-repeat: no-repeat;
}

.model-y{
    background-image: url('../img/modelo-y.svg');
background-repeat: no-repeat;
}

.model-z{
    background-image: url('../img/modelo-z.svg');
    background-repeat: no-repeat; 
}

@media (min-width: 992px )  { 
    .model-z{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        background-size: 20rem;
    }
 } 


 /* formulario */

.newsletter{
    background-image: linear-gradient(to bottom, transparent 50%, var(--white-color) 0%),
    url('../img/newsletter.jpg');
    background-position:top center;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
}

@media (min-width: 768px )  {
    
    .newsletter{
            background-image: linear-gradient(to right, transparent 50%, var(--white-color) 0%),
    url('../img/newsletter.jpg');

    background-position: center, -21rem 0rem;
    background-size: 100%, 100rem;
    padding: 10rem 0rem;
    }
    
 } 

 @media (min-width: 768px )  {
    
    .newsletter{
        background-size: 100%, 200rem;
        background-position: center, 0% -30rem;
    }

}


.content-newsletter{

    display: grid;
    grid-template-rows: repeat(2, 30rem);
    gap: var(--separacion);

}

@media (min-width: 768px )  { 
    .content-newsletter{
        grid-template-rows:unset;
        grid-template-columns: repeat(2,1fr);
    }
 } 


.text-newsletter{
    grid-row: 2/3;

}
@media (min-width: 768px )  {
    .text-newsletter{
        grid-row: unset;
        grid-column: 2/ -1;
    } 
    
 } 



 .form input[type="text"]{
    width: 100%;
    padding: 1rem;


 }

 .form input[type="submit"]{
    width: 100%;
    padding: 2rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 900;
    border: none;
    text-transform: uppercase;

 }

 .text-newsletter{
    width: 87%;
    text-align: center;
 }
 @media (min-width: 768px )  {
     .text-newsletter{
         text-align: left;
        }
 } 

.box-client{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.clients .headeing{
    font-size: 4.7rem;
    color: var(--primary-color);
}

.clients{
    margin-top: 45rem;
}

@media (min-width: 768px )  {
    .clients{
        margin-top: 10rem;
    } 
    
 } 
.clients .container .box{
    border: 1px solid  rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background-color: var(--white-color);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border-radius: .5rem;
    flex: 1 1 30rem;
}


.clients .container .box  .client img{

    border-radius: 50%;
    object-fit: cover;
    height: 14rem;
    width: 14rem;
    margin: 2rem auto;
}

.clients .container .box  .client h3{
    color: var(--primary-color);
    font-size: 3rem;
}

.clients .container .box  .client .stars i{
    color: var(--primary-color);
    font-size: 2rem;
    padding: 1rem 0;
}


.clients .container .box  .client .comments{
    color: #333;
    font-size: 2.3rem;
    padding: 1rem;
}

















 


 /* footer */
 .footer{
    width: 100%;
    background: #0a141d;
 margin-top: 20rem;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

 }

 .footer .group-one{
     grid-template-columns: repeat(1,1fr);
     grid-gap: 30px;
     padding: 4px 35px;

     
 }

 @media (min-width: 992px )  { 
    .footer  .group-one{
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--separacion);
        margin: 0 auto;
     }
  } 

 .footer  .group-one .box-TuneMasters{
    display: flex;
    align-items: center;
 }
 .footer  .group-one .box-TuneMasters a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 5rem;
    font-weight: 900;
 }
 .footer  .group-one .about-us p{
    color: #efefef;
 }
 .footer  .group-one .item-links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: #0d2033;
    color: var(--white-color);

transition: all .3s ease;
 }
 .footer  .group-one .item-links a:hover{
    color: #e6dbdb;
 }
 .footer  .group-one .item-links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
 }

 .footer .group-two{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: var(--white-color);
 }

