/*Google  fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@400;700;900&display=swap");

:root {
    /* funtes principales */
    --fontSecondary: "Roboto", sans-serif;
    --fontMain: "Lato", sans-serif;

    /* paleta de colores */
    --primary-color: #1073ba;
    --secundary-color: #00da55;
    --grey: #3b3b3b;
    --white-color: #ffff;
    --black-color: #1f1f1f;
    --ligh-grey: #e1e1e1;

    --separacion: 5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontMain);
    font-size: 2.7rem;
    line-height: 1.5;
}

/** Globales **/
.container {
    width: 90%;
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fontSecondary);
    margin: calc(var(--separacion) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/** Utilidades **/
.text-center {
    text-align: center;
}

/** Degradados **/

.green-gradient {
    color: transparent;
    background: linear-gradient(to right,
            var(--primary-color) 0%,
            var(--secundary-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* Header **/
.header {
    background-color: var(--black-color);
    padding: calc(var(--separacion) * 3) 0;
    color: var(--white-color);
}

.header-audifono-2 img {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
}

.texto-header {
    text-align: center;
    padding-top: var(--separacion);
}

@media (min-width: 768px) {
    .texto-header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.texto-header p {
    margin: 0;
}

.tagline-producto {
    font-size: 5rem;
    font-weight: 900;
}

.name-producto {
    font-size: 6rem;
    margin: 0;
}

@media (min-width: 768px) {
    .name-producto {
        font-size: 14rem;
        line-height: 1;
    }
}

.price-producto span {
    font-size: 6rem;
    font-weight: 900;
}

/* Iconos */
.icons {
    padding: var(--separacion) 0;
}

@media (min-width: 768px) {
    .icons {
        display: flex;
        gap: 2rem;
    }
}

.icon {
    text-align: center;
    margin-bottom: calc(var(--separacion) / 2);
}

.icon:last-of-type {
    margin: 0;
}

@media (min-width: 768px) {
    .icon {
        margin: 0;
    }
}

.icon img {
    width: 8rem;
    margin: 0 auto;
}

.icon h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: calc(var(--separacion) / 2);
    font-size: 3.2rem;
}

/* sobre nosotros TuneMasters*/

.about-TuneMasters {
    background-image: linear-gradient(to bottom,
            transparent 50%,
            var(--primary-color) 0%),
        url("../img/imagen-mujer.jpg");
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 210rem;
}

@media (min-width: 768px) {
    .about-TuneMasters {
        background-image: linear-gradient(to left,
                transparent 50%,
                var(--primary-color) 0%),
            url("../img/imagen-mujer.jpg");
        background-repeat: repeat, no-repeat;
    }
}

.about-TuneMasters-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: var(--separacion);
}

@media (min-width: 768px) {
    .about-TuneMasters-grid {
        grid-template-rows: unset;
        /* para eliminar los row que van de arriba hacia abajo*/
        grid-template-columns: repeat(2, 1fr);
        row-gap: var(--separacion);
    }
}

.text-about-TuneMasters {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: var(--white-color);
}

.text-about-TuneMasters h2 {
    font-size: 5.6rem;
}

.text-about-TuneMasters p {
    font-size: 2.7rem;
    line-height: 2;
}






/* section ofertas */

.offers h2{
    text-align: center;
    font-size: 5.7rem;
    margin-top: 12rem;
}

.categorie{
    text-align: center;
    padding-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.categorie .categorie-price{
    font-weight: bold;
    font-size: 3rem;
    color: #414641;
    margin: 0;
}
.categorie .categorie-name{

    font-size: 2.4rem;
    color: #3b3b3b;
    font-weight: bold;
    margin: 0;
}
.categorie .categories-img{
    width: 70%;
    cursor: pointer;
}
.categorie{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px )  { 
    .categories{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }

@media (min-width: 1200px )  { 
    .categories{
        display: grid;
        grid-template-columns: repeat(4,1fr);

    }
 } 
 } 


 /* swipper slider nuestros mejores productos */

.img-box img{
    max-width: 100%;

}

.card-slider{
    padding: 7rem 0;
}
.img-box{
    display: flex;
    justify-content: center;
}
.swiper-wrapper{
    text-align: center;
}